/* src/ContainerAvailability.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.video-background {
    position: absolute; /* Position video absolutely to cover the entire container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
    z-index: -1; /* Place the video behind other content */
}
.container-availability {
    background: url('') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #090808;
   
}

.form-container {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(79, 89, 231, 0.2);
    text-align: center;
}

.form-container h1 {
    margin-bottom: 20px;
}

.form-container select, .form-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.form-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.form-container button:hover {
    background-color: #0056b3;
}

.error {
    background-color: #fff; /* White background */
    color: #d62424; /* Red text color to highlight the error */
    padding: 15px; /* Add padding for better readability */
    margin: 20px auto; /* Center the error message */
    border-radius: 8px; /* Rounded corners */
    max-width: 600px; /* Limit the width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    font-size: 16px; /* Slightly larger font size */
    text-align: center; /* Center the text */
    border: 1px solid #ce1818;
}

.container-list {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.container-list table {
    width: 100%;
    border-collapse: collapse;
    background: rgb(247, 247, 247);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-list th, .container-list td {
    padding: 10px;
    text-align: left;
}

.container-list th {
    background-color: #007bff;
    color: #fff;
}

.container-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.container-list tr:hover {
    background-color: #ddd;
}
