.contact-page-container {
    background-color: rgb(15, 15, 15);
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent overlay */
  border-radius: 10px; /* Rounded corners */
  color: #141414; /* White text for better contrast */
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); 
  background-image: url('/public/images/4.jpg');
   }
   
   .container {
    /* Semi-transparent background */
     padding: 40px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     background-color: rgba(243, 236, 236, 0.959);
   }
   
   h2, p {
     color: #333;
   }
   
   form .form-group {
     margin-bottom: 1.5rem;
   }
   
   button.btn-primary {
     background-color: #007bff;
     border-color: #007bff;
   }
   
   button.btn-primary:hover {
     background-color: #0056b3;
     border-color: #004085;
   }
   
   h5 {
     font-weight: 600;
   }
   
   i.fab {
     font-size: 24px;
     color: #007bff;
   }
   
   i.fab:hover {
     color: #0056b3;
   }
   